% {% extends 'base.html' %}

{% block title %} Erro 404 {% endblock %}

{% block style %}
<style>
    main {
        margin-top: 100px;
        /* tem que olhar isso */
    }
</style>
{% endblock %}

{% block content %}
    <div class="error-page">
        <img src="{{ url_for('static', filename='media/DACM-fit.svg') }}" alt="icone">
        <h1>Página não encontrada</h1>
        <p>Desculpe, a URL digitada não existe</p>
        <a href="{{url_for('index') }}" class="buttons">Voltar para o inicio</a>
    </div>

{% endblock %}