{% extends 'base.html' %}

{% block title %}
    Alterar senha
{% endblock %}

{% block content %}
    {% include 'components/messages.html' %}
    <form action="{{url_for('alterar_senha')}}" method="post">
        <label for="senha">Nova Senha:</label>
        <input type="password" name="senha" id="senha" required>
        <label>Insira senha antiga para confirmar:</label>
        <input type="password" name="senha_ant" id="senha_ant" required>
        <button type="submit">Enviar</button>
    </form>
{% endblock %}