<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/footer.css">
    <!-- TÍTULO PROVISÓRIO -->
    <title>DACM fit - {% block title %}{% endblock %}</title>
    {% block style %}
        
    {% endblock %}
</head>
<body>

    {% include 'components/header.html' %}

    <main>{% block content %}{% endblock %}</main>

    {% include 'components/footer.html' %}

</body>
</html>