{% extends 'base.html' %}

{% block title %}
    Editar dados
{% endblock %}

{% block content %}
    <form action="{{ url_for('editar') }}" method="post">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">
        <label for="endereco">Endereço</label>
        <input type="text" name="endereco" id="endereco">
        <label for="telefone">Telefone</label>
        <input type="number" name="telefone" id="telefone">
        <label for="peso">Peso</label>
        <input type="number" name="peso" id="peso">
        <label for="altura">Altura</label>
        <input type="number" name="altura" id="altura">
        <label for="data">Data de Nascimento</label>
        <input type="date" name="data" id="data">
        <label for="sexo">Sexo</label>
        <select name="sexo" id="sexo">
            <option value="F">Feminino</option>
            <option value="M">Masculino</option>
            <option value="N">Prefiro não informar</option>
        </select>
        <label for="tipo_treino">Tipo de treino</label>
        <select name="tipo_treino" id="tipo_treino" required>
            <option value="hipertofria">Hipertofria</option>
            <option value="força">Força</option>
            <option value="emagrecimento">Emagrecimento</option>
            <option value="funcional">Funcional</option>
        </select>
        <button type="submit">Editar</button>
    </form>
{% endblock %}