
{% extends 'base.html' %}

{% block title %}
    Avisos
{% endblock %}

{% block content %}
    <div class="funcionamento">
        <h1>Informes</h1>
        <h2>Horário de Funcionamento</h2>
        <h2>Segunda à Sexta</h2>
        <p>05:00 - 22:00</p>
        <h2>Sábado</h2>
        <p>05:00 - 13:00</p>
        <h2>Domingo</h2>
        <p>Fechado</p>
    </div>

    <div class="contato">
        <h2>Contatos</h2>
        <h3>Email</h3>
        <p>dacmfit@gmail.com</p>
        <h3>Telefone</h3>
        <p>(84) 00000-0000</p>
    </div>

    <div class="endereco">
        <h2>Endereço</h2>
        <p>
            Avenida Seridó, 845 – Centro, Caicó, RN – CEP 59300-000
        </p>
    </div>

{% endblock %}