{% extends 'base.html' %}

{% block title %}
    Perfil
{% endblock %}

{% block content %}

<div class="perfil">
    <div class="perfil_nome">
        <h2>Perfil de {{ user['usu_nome'] }}</h2>
        <img src="{{ url_for('static', filename='media/perfil-foto.png') }}" alt="icone">
    </div>
    <div class="conteudo">
        <p><strong>Nome:</strong> {{ user['usu_nome'] }}</p>
        <p><strong>Email:</strong> {{ user['usu_email'] }}</p>
        <p><strong>Telefone:</strong> {{ user['usu_telefone'] or 'Não informado' }}</p>
        <p><strong>Endereço:</strong> {{ user['usu_endereco'] or 'Não informado' }}</p>
        <p><strong>Sexo:</strong> {{ user['usu_sexo'] or 'Não informado' }}</p>
        <p><strong>Peso:</strong> {{ user['usu_peso'] or 'Não informado' }}</p>
        <p><strong>Altura:</strong> {{ user['usu_altura'] or 'Não informado' }}</p>
        <p><strong>Data de Nascimento:</strong> {{ user['usu_data_nascimento'] or 'Não informado' }}</p>
        <p><strong>Tipo de Treino:</strong> {{ user['usu_tipo_treino'] or 'Não informado' }}</p>
    </div>
</div>
    <div class="escolhas">
            <button><a href="{{ url_for('editar') }}">Editar dados</a></button>
            <button><a href="{{ url_for('logout') }}">Sair da conta</a></button>
    </div>
{% endblock %}