{% extends 'base.html' %}

{% block title %}Tabela de treino{% endblock %}

{% block content %}
    <div class="tabela">
        <h1>Minha Tabela de Treinos</h1>
        <table>
            <thead>
                <tr>
                    <th>Dia</th>
                    <th>Exercício  </th>
                    <th>Séries</th>
                    <th>Repetições</th>
                    <th>Descanso (min)</th>
                </tr>
            </thead>
            <tbody>
                {% for dia, exercicios in treino.items() %}
                <tr style="border: 2px solid rgb(221, 221, 221);">
                    <td rowspan="5" style="font-weight: bold;" conteudo="Dia" class="dia">{{dia}}</td>
                </tr>
                {% for dados in exercicios %}
                    <tr>
                    {% for k, x in dados.items() %}
                        <td conteudo="Exercício">{{k}}</td>
                        {% for i, r in x.items() %}
                            {% if i == 'qnt_series' %}
                                <td conteudo="Séries">{{r}}</td>
                            {% elif i == 'qnt_reps' %}
                                <td conteudo="Repetições">{{r}}</td>
                            {% else %}
                                <td conteudo="Descanso(min)">{{r}}</td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}