{% extends 'base.html' %}

{% block title %}Tabela de treino{% endblock %}

{% block content %}
    <table style="border: 1px solid;">
        <thead> 
            <tr> 
                <th style="border: 1px solid;">Dia</th>
                <th style="border: 1px solid;">Exercício  </th>
                <th style="border: 1px solid;">Séries</th>
                <th style="border: 1px solid;">Repetições</th>
                <th style="border: 1px solid;">Descanso</th>
            </tr>
        {% for dia, exercicios in treino.items() %}
            <tr>
                <th  style="border: 1px solid;">{{dia}}</th>
            </tr>
        </thead>
        <tbody>
            {% for dados in exercicios %}
                <tr>
                {% for k in dados %}
                    <td  style="border: 1px solid;"></td>
                    <td  style="border: 1px solid;">{{k}}</td>
                    {% for i in dados[k].values() %}
                        <td  style="border: 1px solid;">{{i}}</td>
                    {% endfor %}
                {% endfor %}
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}