<header>
    <img src="{{ url_for('static', filename='media/DACM-fit.svg') }}" alt="icone">
    <nav>
        <ul class="menu">
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('index' ) }}">Home</a></li>
            <li><a href="{{ url_for('tabela_treino' ) }}">Tabela de treino</a></li>
            <li><a href="{{ url_for('registrar_treino') }}">Registrar treino</a></li>
            <li><a href="{{ url_for('perfil')}}">Perfil</a></li>
            <li><a href="{{ url_for('logout' ) }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</header>