<header>
    <!-- TÍTULO PROVISÓRIO -->
    <h1>Sistema de Academia</h1>
    <nav>
        <ul class="menu">
            <li><a href="{{ url_for('index' ) }}">Home</a></li>
            <li><a href="{{ url_for('login' ) }}">Login</a></li>
            <li><a href="{{ url_for('register' ) }}">Register</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout' ) }}">Logout</a></li>
                <li><a href="{{ url_for('tabela_treino' ) }}">Tabela de treino</a></li>
            {% endif %}
        </ul>
    </nav>
</header>